body {
    padding-bottom: 500px;
}

/* 4 - Criando uma classe em CSS - External CSS */
.test {
    color: blue;
    font-size: 100px;
}


.paragraph {
    background-color: red;
    color: rgb(255, 251, 0);
    border-radius: 16px;
    margin: 1%;
}

#exclusive-title {
    color: black;
    background-color: blueviolet;
    border-radius: 16px;
}

.titulo {
    color: rgb(31, 87, 133);
    border: rgb(150, 76, 76) solid 3px;
    border-radius: 16px;
    text-align: center;
}

#title {
    color: rgb(150, 76, 76);
    border: rgb(0, 9, 128) solid 4px;
    border-radius: 16px;
    text-align: center;
}

h2 {
    text-align: center;
}
